.WordCounter {
    display: block;
    background-color: white;
    height: 100%;
    width:100%;
    padding: 20% 20%;
    color: black;
}

.button {
    background-color: #4CAF50;
    border: none;
    border-radius: 6px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}

.openTextBox {
    height:120px;
    width:120px;
    border:1px solid #ccc;
    font:16px/26px Georgia, Garamond, Serif;
    overflow:auto;
}
